SPRING_DATASOURCE_URL: "jdbc:mysql:///pms_db?cloudSqlInstance=miniprojetjee:europe-west1:pms-db&socketFactory=com.google.cloud.sql.mysql.SocketFactory&useSSL=false&serverTimezone=UTC"
SPRING_DATASOURCE_USERNAME: "pmsuser"
SPRING_DATASOURCE_PASSWORD: "CHANGE_ME"
SPRING_DATASOURCE_DRIVER_CLASS_NAME: "com.mysql.cj.jdbc.Driver"
